<header>
  <mat-toolbar class="toolbar">
    <button mat-icon-button (click)="onToggleSidenav()" class="icon" title="Menu">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="ms-2">{{title}}</span>
    <span class="spacer"></span>
    
    <button mat-icon-button (click)="switchTheme()" class="icon" title="Theme">
      @if (isDarkMode) {
      <mat-icon>brightness_high</mat-icon>
      } @else {
      <mat-icon>brightness_2</mat-icon>
      }
    </button>
    <!-- <a routerLink="/login"  mat-list-item>Login</a> -->
     <button mat-flat-button routerLink="login">Login</button>
  </mat-toolbar>
</header>
