<!-- <ng-content></ng-content> -->

<form [formGroup]="form" (submit)="submitForm()">
  <mat-form-field [formGroup]="form" class="me-3">
    <mat-label>Username</mat-label>
    <input
      type="text"
      matInput
      formControlName="username"
      placeholder="testuser"
    />
    <mat-error>Please enter valid username!</mat-error>
  </mat-form-field>

  <mat-form-field [formGroup]="form" class="me-3">
    <mat-label>Password</mat-label>
    <input
      type="password"
      matInput
      formControlName="password"
      placeholder="Ex. 12345"
    />
    <mat-error>Please enter valid password!</mat-error>
  </mat-form-field>
  <button mat-flat-button color="primary" type="submit">Login</button>
</form>
