/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


// Include the default theme
@include mat.core();

// Define a custom light color palette
$light-primary: mat.m2-define-palette(mat.$m2-blue-palette, 700, 500, 800);
$light-accent: mat.m2-define-palette(mat.$m2-yellow-palette, 700, 600, 800);
$light-theme: mat.m2-define-light-theme((color: (primary: $light-primary,
        accent: $light-accent,
      ),
    ));

// Define a custom dark color palette
$dark-primary: mat.m2-define-palette(mat.$m2-amber-palette, 700, 500, 900);
$dark-accent: mat.m2-define-palette(mat.$m2-blue-palette, 500, 300, 700);
$dark-theme: mat.m2-define-dark-theme((color: (primary: $dark-primary,
        accent: $dark-accent,
      ),
    ));

// Apply the custom light theme to all components
.theme-light {
  @include mat.all-component-themes($light-theme);

  header {
    border-bottom: 2px solid #303030;
  }

  footer {
    border-top: 2px solid #303030;
  }

  .wj-content {
    border-radius: 4px;
    background-color: #ffffff;
    color: #333333;
  }
  .wj-header {
      background-color: #eaeaea;
      color: #444444;
  }
  .wj-state-selected {
      background-color: #0085c7;
      color: #ffffff;
  }
  .wj-state-multi-selected {
      background-color: #82a7ba;
      color: #ffffff;
  }                    
  .wj-tooltip {
      background-color: #ffffe5;
      color: #333333;
  }
  .wj-cell:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
      background-color: #ffffff;
      color: #333333;
  }
  .wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
      background-color: #f9f9f9;
      color: #333333;
  }
}

// Apply the custom dark theme to all components
.theme-dark {
  @include mat.all-component-colors($dark-theme);

  // .mat-sidenav-container {
  //   background: #141414;
  // }

  header,
  footer {
    background: #424242;
    color: mat.m2-get-color-from-palette($dark-accent, "500-contrast");
  }

  header {
    border-bottom: 2px solid #f3f3f3;
  }

  footer {
    border-top: 2px solid #f3f3f3;
  }
  .wj-content {
    border-radius: 4px;
    background-color:#333333;
    color:  #ffffff;
  }
  .wj-header {
      background-color: #444444;
      color: #eaeaea;
  }
  .wj-state-selected {
      background-color: #ffffff;
      color: #0085c7;
  }
  .wj-state-multi-selected {
      background-color:  #ffffff;
      color: #82a7ba;
  }                    
  .wj-tooltip {
      background-color: #333333;
      color: #ffffe5;
  }
  .wj-cell:not(.wj-header):not(.wj-group):not(.wj-alt):not(.wj-state-selected):not(.wj-state-multi-selected) {
      background-color:  #333333;
      color:#ffffff;
  }
  .wj-alt:not(.wj-header):not(.wj-group):not(.wj-state-selected):not(.wj-state-multi-selected) {
      background-color: #333333;
      color: #f9f9f9;
  }
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


html {
  box-sizing: border-box;

  * {
    padding: 0;
    margin: 0;

    &:after,
    &:before {
      box-sizing: inherit;
    }
  }

  form,
  input,
  textarea {
    box-sizing: border-box;
  }
}

